* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.view-bg-container {
  min-height: 100vh;
  padding: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1110px;
  height: 100vh;
}

.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.heading {
  font-family: 'roboto';
  font-size: 18px;
  font-weight: 500;
  color: #171f46;
  text-align: center;
  line-height: 2.7;
  margin: 0;
}

.ccbp-heading {
  font-size: 24px;
  color: #2b237c;
  margin: 0;
}

@media (min-width: 768px) {
  .heading {
    font-size: 20px;
  }
  .ccbp-heading {
    font-size: 30px;
  }
}
